$dark-blood-color: (
    50 : #f7e2e4,
    100 : #ebb6bc,
    200 : #dd858f,
    300 : #cf5462,
    400 : #c52f40,
    500 : #bb0a1e,
    600 : #b5091a,
    700 : #ac0716,
    800 : #a40512,
    900 : #96030a,
    A100 : #ffc1c2,
    A200 : #ff8e90,
    A400 : #ff5b5f,
    A700 : #ff4146,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$light-royal-blue: (
    50 : #e9ebf1,
    100 : #c7cedb,
    200 : #a2adc4,
    300 : #7c8cac,
    400 : #60749a,
    500 : #445b88,
    600 : #3e5380,
    700 : #354975,
    800 : #2d406b,
    900 : #1f2f58,
    A100 : #99b3ff,
    A200 : #668eff,
    A400 : #3368ff,
    A700 : #1a55ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);